In [1]:
import pandas as pd

In [2]:
% cd ..

/home/dan/code/python/building_class_analysis

In [3]:
% cd ./processed_data/pluto/

/home/dan/code/python/building_class_analysis/processed_data/pluto

In [4]:
from_csv = pd.read_csv("bk_bldg.csv")

In [5]:
from_csv.head()

,BBL,Borough,Block,Lot,CD,CT2010,CB2010,Address,BldgClass,Tract2010
0,3000010001,BK,1,1,302,21.0,NaN,JOHN STREET,V1,2100
1,3000010050,BK,1,50,302,21.0,2000.0,10 JAY STREET,O6,2100
2,3000017501,BK,1,7501,302,21.0,2000.0,1 JOHN STREET,RM,2100
3,3000030001,BK,3,1,302,21.0,3002.0,JAY STREET,U4,2100
4,3000030005,BK,3,5,302,21.0,NaN,JAY STREET,T2,2100

In [6]:
%cd ..

/home/dan/code/python/building_class_analysis/processed_data

In [7]:
%cd nta/

/home/dan/code/python/building_class_analysis/processed_data/nta